
svg {
    background-color: rgb(250, 250, 250);
    border: 2px solid rgb(121, 121, 121);
    padding: 10px;
}

svg *{
    cursor: default;
}

h4{
    margin: 0px;
}

.column {
    width: 20px;
}

.popularity{
    fill: rgb(0, 119, 255);
}

.winRate{
    fill: rgb(0, 200, 100);
}

.ban{
    fill: rgba(250, 105, 60);
}

#boxText{
    position: absolute;
    cursor: pointer;
    display: none;
    width: auto;
    height: auto;
    padding: 10px;
    border: 2px solid rgb(131, 131, 131);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.719)
}

a {
    cursor: pointer;
}